* {
  font-family: Poppins;
}
.banner {
  width: 1440px;
  height: 316px;
  flex-shrink: 0;
  background: url('/public/images/covershop.png'),
    lightgray 50% / cover no-repeat;
  /* filter: blur(3px); */
  background-color: antiquewhite;
  font-family: Poppins;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.banner p {
  font-size: 16px;
}
.navbar {
  height: 100px;
  flex-shrink: 0;
  background: #f9f1e7;
  justify-content: space-evenly;
  overflow: hidden;
}

.navbar p,
select {
  font-size: 20px;
}
.card {
  position: relative;
}
.add {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--color-gray-1, #3a3a3a);
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: none;
  opacity: 0.72;
}
.add button {
  position: absolute;
  bottom: 50%;
  right: 50%;
  color: var(--primary, #b88e2f);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  background: var(--color-white, #fff);
}
.item {
  position: relative;
  color: white;
  display: inline-block;
}
.item:hover {
  .add {
    display: block;
  }
}
.card p,
span {
  color: var(--color-gray-1, #3a3a3a);
}
