.logo p {
  color: #000;
  font-family: Montserrat;
  font-size: 30px;
}
.unos {
  position: relative;
  display: flex;
}
.dos {
  position: absolute;
  z-index: 2;

  background-color: rgb(249, 252, 251);
  box-shadow: 2px;
  margin: 0;
  margin-left: -287px;
  margin-top: 64px;
}
